<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Nate Welling</h1>
    <p>Welcome to my blog.</p>
    <p>I build this blog in Rails 4.  You're actually on the demo application right now.  Cool stuff, right!</p>
    <p>If you'd like to follow along as I learn more about Ruby on Rails, find me on twitter <a href="https://twitter.com/naterexw">@NateRexW</a> or on the web at <a href="http://www.natewelling.com">NateWelling.com</a>.</p>
  </div>
</div>
